<div class="about-container">
  <section>
    <h1>🌟 Sobre el proyecto</h1>
    <p>
      Este catálogo de superhéroes busca ofrecer una experiencia inmersiva para los fans de los cómics,
      combinando diseño moderno con funcionalidades interactivas.
    </p>
  </section>

  <section>
    <h2>👨‍💻 Autor</h2>
    <p>
      Proyecto desarrollado por <strong>Cristian Rene Barraza Peña</strong> <br>
      <em>Matrícula: 23040148</em>
    </p>
    <p>
      El objetivo es aplicar conceptos de desarrollo web con Angular y TypeScript en un entorno práctico.
    </p>
  </section>

  <section>
    <h2>📬 Contacto</h2>
    <div class="contact-section">
      <a href="https://github.com/Caiinrst" target="_blank" rel="noopener noreferrer">
        <img
          src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          alt="GitHub Logo"
        />
        <span class="contact-text">GitHub</span>
      </a>
    </div>
  </section>


  <footer>
    <p>&copy; 2026 Catálogo de Superhéroes. Todos los derechos reservados.</p>
    <p>Realizado para la clase de Producción Digital 2D</p>
  </footer>
</div>
